<html>
  <head>
    <title>add events Page</title>
  </head>
  <body>
    <p>
      Please add your new event *please make sure to fill it out completely
      <form action="/events" method="post">
        <ul>Title<input type="text" name="message"></ul>
        <ul>Discription<input type="text" name="message"></ul>
        <ul>Month<input type="text" name="message"></ul>
        <ul>Day<input type="text" name="message"></ul>
        <ul>Year<input type="text" name="message"></ul>
        <ul>Zipcode<input type="text" name="message"></ul>
        <ul><input type="submit"></ul>
      </form>
    </p>
  </body>
</html>
