<html>
  <head>
    <title>username Page</title>
  </head>
  <body>
    <p>
      Please put username below
      <form action="/" method="post">
        <input type="text" name="message">
        <input type="submit">
      </form>
    </p>
  </body>
</html>
